@import url('https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');


*{
    font-family: 'Ubuntu Condensed', sans-serif;
    color:white;
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: black;
    width: 100%;
    text-align: center;
}
input, textarea, select, button{
    color: orange;
    font-size: 1.5rem;
}

p{
    font-size: 1.2rem;
}

a{
    font-size: 1.5rem;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    color: orange;
}
h2{
    font-size: 3rem;
    font-weight: lighter;
    color: rgb(192,192,192);
}

h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: orange;
    padding-bottom: 2rem;
}
h4{
    font-size: 2rem;
    font-weight: lighter;
    color: rgb(255,255,255);
}

h5{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(255,255,255);
}
h6{
    font-size: 1.5em;
    font-weight: lighter;
    color: rgb(255,255,255);
}
label{
    font-weight: bolder;
    font-size: 1.5rem;
    color: orange;
}

ul {
    list-style-type: none;
}


footer{
    background-color: rgb(86, 86, 86);
}
footer > *
{
    padding: 2rem;
    background-color: #444444;
}


/*main*/

main section /*place the content centered respect to the image*/
{
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate( -15%, -50% );
    padding: 3rem;
    /*background-image: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.6),rgba(0,0,0,0));*/
}


main section h1{
    text-align: center;
}
main figure
{
    overflow: hidden;
}
main figure img
{
    height: 100%;
    width: 100%;
}

/*main end*/

/*article_section_1 */
#article_section_1
{
    padding: 5rem 0rem;
    background: rgba(0,0,0,.3);
}
#article_section_1 article
{
    flex-grow: 1
}

#article_section_1 figure img
{
    width: 100%;
}

#article_section_1 article div
{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate( -15%, -50% );
    padding: 3rem;
    /*background: rgba(0,0,0,.5);*/

}
/*article_section_1 end*/

/*tickets_aside*/
#tickets_aside
{
    padding-bottom: 5rem;
}

#tickets_aside  ul
{
    padding:0rem; /*get rid of the space on the left*/

    gap:2rem;
    /*align-items: stretch; !*make all blocks same height*!*/
}

#tickets_aside  ul > li{
    flex: 1 1 0;
    background-color: #7a2b00;
    padding: 2rem;
    gap:2rem;
}
#tickets_aside  ul > li > h5 {
    /*padding-bottom: 2rem;*/
}

/*tickets_aside end*/

/*article_section_2*/

#article_section_2
{
    background: rgba(0,0,0,.3);
    padding-bottom: 5rem;

}
#article_section_2 article
{
    flex: 27%;
}
#article_section_2 figure img
{
    width: 100%;
}
#article_section_2 article div
{
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate( -15%, -50% );
    padding: 1rem;
    /*background: rgba(0,0,0,.5);*/

    gap: 1rem;
}
/*article_section_2*/

#aside_section{
    padding-bottom: 5rem;
    background: rgba(0,0,0,.3);
}
#aside_section aside{
    flex-grow: 1
}

#aside_section aside div
{
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate( -15%, -50% );
    padding: 1rem;
    gap:1rem;

}
#aside_section aside figure img
{
    width: 100%;
}

#navbar {
    background-color: rgba(0, 42, 78, 0.5);
    width: 100%;
    height: auto;
    padding: 2rem;
}

.bkg_container
{
    position: relative;
    overflow: hidden;
}

.find_more{
    display: inline-block;
    padding: 0.8rem 2rem;
    /*border: white 1px solid;*/
    background-color: darkorange;
    opacity: 0.8%;
}

.flex_row
{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    gap: 5rem;
}

.flex_column
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.flex_navbars{

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap:2rem;
}

.gradient_bkg{
    background-image: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.6),rgba(0,0,0,0));
}
