@import url('https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');

#fig_logo{ grid-area: mn_logo; }
#main_navbar_ar { grid-area: mn_ar; }
#main_navbar_vr {grid-area: mn_vr; }
#main_navbar_other { grid-area: mn_other; }
#searchBar { grid-area: mn_search; }

#main_navbar { grid-area: navbar}
#main_section { grid-area: main; }
#sec_ar_hogwarts_school { grid-area: art_1; }
#sec_vr_gringotts_cave { grid-area: art_2; }
#tickets_aside { grid-area: tkt; }
#sec_vr_ride_a_broomstick { grid-area: art_3; }
#sec_ar_forbidden_forest { grid-area: art_4; }
#sec_vr_quidditch_match { grid-area: art_5; }
#sec_ar_diagon_alley { grid-area: art_6; }
#sec_vr_find_the_horcruxes { grid-area: art_7; }
#sec_ar_magical_creatures { grid-area: art_8; }
#plan_your_vacation { grid-area: aside_1; }
#newsletter { grid-area: aside_2; }
#footer {grid-area: footer}

/*tickets*/
#adults { grid-area: adults; }
#0-6_years { grid-area: years0-6; }
#kids { grid-area: kids; }
#family { grid-area: family; }
#carer { grid-area: carer; }
#groups { grid-area: groups; }

/*footer*/
#fnb_1st { grid-area: fnb_1st; }
#fnb_2nd { grid-area: fnb_2nd; }
#fnb_3rd { grid-area: fnb_3rd; }
#fnb_followus { grid-area: fnb_fus; }
#fnb_corp { grid-area: fnb_crp; }



*{
    font-family: 'Ubuntu Condensed', sans-serif;
    color:white;
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
}

body {
    background-color: black;
    text-align: center;
}

input, textarea, select, button{
    color: orange;
    font-size: 1.5em;
}

p{
    font-size: 1.2em;
}

a{
    font-size: 1.3em;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.8em;
    text-transform: uppercase;
    color: orange;
}

h2{
    font-size: 2em;
    font-weight: lighter;
    color: rgb(224,224,224);
}

h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: orange;
    padding-bottom: 1em;
}
h4{
    font-size: 1.5em;
    font-weight: lighter;
    color: rgb(255,255,255);
}

h5{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: rgb(255,255,255);
    padding-bottom: 1em;
}
h6{
    font-size: 1.5em;
    font-weight: lighter;
    color: rgb(255,255,255);
}

label{
    font-weight: bolder;
    font-size: 1.5em;
    color: orange;
}

ul {
    list-style-type: none;
    padding:0em;
}

main{
    padding-bottom: 2em;
}

footer{
    background-color: rgb(86, 86, 86);
    width:100%;
}

footer  ul
{
    padding: 1em;
    /*background-color: #444444;*/
}

.bkg_container
{
    position: relative;
    overflow: hidden;
}
main figure img
{
    width: 300%;
    transform: translate( -25%, 0% );
}

figure
{
    overflow: hidden;
}

main section /*place the content centered respect to the image*/
{
    position: absolute;
    top: 0%;
    width: 100%;
    padding: 2em;
    background-image: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.4),rgba(0,0,0,0));
}

main section ul{
    padding-top:2em;
}

figure img
{
    width: 200%;
    transform: translate( -25%, 0% );
}
article
{
    padding-bottom: 2em;
    background: rgba(0,0,0,.3);
}

article div, aside div
{
    position: absolute;
    top: 0%;
    overflow: auto;
    padding: 2em 2em;
    background-image: linear-gradient( rgba(0,0,0,0.4), rgba(0,0,0,0.6),rgba(0,0,0,0));
}

#buy_tickets{
    display: none;
}

#main_navbar nav{
    display: none;
    padding: 1em;
    line-height: 2em;
}

#main_navbar > label{

    text-align: center;
    display: block;
    cursor: pointer;
    font-size:2em;
    color: white;
    float:right;
    position: relative;
}
#toggle:checked + nav{
    display: block;
}

#toggle { display: none; }

.find_more{
    display: block;
    margin-top: 2em;
    padding:1em;
    background-color: rgba(255, 140, 0, 0.7);
}
#tickets_aside
{
    padding-bottom: 1em;
}

#tickets_aside li{
    background-color: rgba(255, 140, 0, 0.8);
    padding: 1em;
    margin-bottom: 1em;
}

#plan_your_vacation  img,
#newsletter  img
{
    width: 250%;
}


#fnb_followus img{
    width: 48px;
    height:48px;

}
.navbar li{
    line-height: 2em;

}

#logo{
    width: 100%;
    transform: translate( 0%, 0% );
    padding: 1em;
    filter: sepia(1) saturate(1000%) hue-rotate(-30deg);
}

#searchBar{
    padding: 1em;
}




/*Contact Us*/
.attractions_section article div{
    padding-top: 4em;
    line-height: 2em;
    background-image: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.9),rgba(0,0,0,0.0));
}

#by_post figure img{
    filter: invert(90%);
}
#contactForm {
    background-color: rgb(100,100,100);
    padding: 5%;
    border-radius: 25px;
}

/*Attractions*/
#vr_attractions header
{
    padding: 2em;
}
#buy_now div{
    display: block;
    position: static;
}



@media only screen and (min-width: 1200px)
{
    body{ font-size: 1.3em;}

    h1{
        padding-bottom: 2em;
    }


    a{
        font-size: 1.2em;
    }


    #main_navbar > label { display: none; }


    .grid_container{
        display: grid;
        grid-template-areas:
        'navbar navbar navbar navbar navbar navbar'
        'main main main main main main'
        'art_1 art_1 art_1 art_2 art_2 art_2'
        'tkt tkt tkt tkt tkt tkt'
        'art_3 art_3 art_4 art_4 art_5 art_5'
        'art_6 art_6 art_7 art_7 art_8 art_8'
        'aside_1 aside_1 aside_1 aside_2 aside_2 aside_2'
        'footer footer footer footer footer footer '
        ;
        gap: 2em;
    }
    #main_navbar nav{
        display: grid;

        grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
        grid-template-areas:
        'mn_logo mn_ar mn_vr mn_other mn_search'
        ;
    }

    figure img
    {
        width: 100%;
        transform: translate( 0%, 0% );
    }

    main figure img
    {
        width: 100%;
        transform: translate( 0%, 0% );
    }



    #tickets_aside ul{
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-areas:
            'adults years0-6 kids family carer groups'
        ;
    }



    #footer_navbar{
        display: grid;
        grid-template-areas:
            'fnb_1st fnb_2nd fnb_3rd'
            'fnb_fus fnb_fus fnb_fus'
            'fnb_crp fnb_crp fnb_crp';
        row-gap: 2em;
    }

    #fnb_followus {
        display: flex;
        align-items: center;

    }
    #fnb_followus img{
        width: 64px;
        height: 64px;
    }

    #fnb_corp {
        display:  flex;
    }

    main section /*place the content centered respect to the image*/
    {
        position: absolute;
        top: 60%;
        left: 50%;
        width: 80%;
        transform: translate( -50%, -50% );
        padding: 3em;
        background-image: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.6),rgba(0,0,0,0));
    }


    .find_more{
        display: inline-block;
        padding: 0.8em 2em;
        background-color: darkorange;
        opacity: 0.8%;
        width: 10em;
    }
    #buy_tickets{
        display: inline-block;
        width: 30%
    }

    #plan_your_vacation  img,
    #newsletter  img
    {
        width: 100%;
    }



}